<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SHE SAID IT</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

<style>

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    h1{color: #006699}
    h3{color: #0099e6}

</style>

  </head>
  <body style="background-color:#f0f8ff;">

    <h1 style="text-align:center;"> The book you like: </h1>

    <h3 style="text-align:center;"> {{ v }} </h3>

<h1 style="text-align:center;"> More books we recommend!!!!! </h1>

<h3 style="text-align:center;"> 1. {{ variable[0] }} </h3>

<h3 style="text-align:center;"> 2. {{ variable[1] }} </h3>

<h3 style="text-align:center;"> 3. {{ variable[2] }} </h3>

<h3 style="text-align:center;"> 4. {{ variable[3] }} </h3>

<h3 style="text-align:center;"> 5. {{ variable[4] }} </h3>


<center><img src="https://media.giphy.com/media/SiMcadhDEZDm93GmTL/giphy.gif"  allowFullScreen></center>

<a class="center" href="">Get another recommendation!</a>

  </bodystyle="background-color:#f0f8ff;">
</html>
